@model EStoreProject.Model.ProductCategory

@{
    ViewData["Title"] = "GetProductCategoryById";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br>
<br>
<h2>Get ProductCategory By Id</h2>
<br>
<hr/>
<div>
    
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProductCategoryId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductCategoryId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProductCategoryName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductCategoryName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProductCategoryImage)
        </dt>
        <dd class="col-sm-10">
            <img src="~/Images/@Model.ProductCategoryImage " height="150" width="200" />
        </dd>
        
    </dl>
</div>
<div class="text-left">
    <a asp-action="Index">Back to List</a>
</div>
<br>
<br>
<br>
<br>
<br>
<style>
    h2 {
        color: #277582;
    }
    
</style>
